<h1>Recommendation Generator</h1>
  <%= form_for (@results),url: { action: "generate" },html: { :remote => true } do |f| %>
    <%= f.text_field :product_id %>
      <%= f.submit "Generate" %>
    <% end %>

<h3>Create node</h3>


<h3>Create relations</h3>
  <%= form_for (@branch),url: { action: "makeRelations"},html: { :remote => true } do |f| %>
    <%= f.label 'user ID'%>
    </br>
      <%= f.text_field :user_id %>
      </br>
        <%= f.label 'relations' %>
        </br>
          <%= f.text_field :relationship %>
          </br>
              <%= f.label 'product ID' %>
              </br>
                <%= f.text_field :product_id %>
                </br>
                  <%= f.submit "Create"%>
    <% end %>

<h3>Algoritma yang digunakan</h3>


<h3>Algoritma yang tidak digunakan</h3>


<div id="result">
</div>
